<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VueJS</title>
    <link href="app.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
    <div id="root">
      <h1>{{ greet('morning') }}</h1>
      <input type="text" v-bind:value="name">
      <p v-html="websiteTag"></p>
      <button v-on:click.once="add(1)">Add a year</button>
      <button v-on:click="substract(1)">Substract a year</button>
      <button v-on:dblclick="add(10)">Add 10 years</button>
      <button v-on:dblclick="substract(10)">Substract 10 years</button>
      <p>My age is {{age}}</p>
      <div id="canvas" v-on:mousemove="updateXY">{{x}}, {{y}}</div>
      <a v-on:click.prevent="click" v-bind:href="link">Website Link</a>
      <label>Enter your name</label>
      <input type="text" v-model="inputAge" v-on:keyup.enter="logName" />
      <p>{{inputAge}}</p>
      <div>
        <button v-on:click="a++">Increment A</button>
        <button v-on:click="b--">Increment B</button>
        My age + a = {{addToA}}
        My age + b = {{addToB}}
      </div>
      <div>
        <button v-on:click="available = !available">Toggle available</button>
        <button v-on:click="nearby = !nearby">Toggle nearby</button>
        <div v-bind:class="compClasses">Yes</div>
      </div>
      <div>
        <button v-on:click="error = !error">Toggle Error</button>
        <button v-on:click="success = !success">Toggle Success</button>
        <p v-if="error">There is an error</p>
        <p v-else-if="success">Success!</p>
        <p v-show="error">There is an error</p>
        <p v-show="success">Success!</p>
      </div>
      <div>
        <h1>For Loops</h1>
        <ul>
          <li v-for="character in characters">{{character}}</li>
          <li v-bind:key="index" v-for="(sibling, index) in siblings">{{sibling.name}} - {{sibling.age}}</li>
        </ul>
        <ul>
          <li v-bind:key="index" v-for="(sibling, index) in siblings">
            <ul>
              <li v-bind:key="index" v-for="(val, key, index) in sibling">
                {{key}} - {{val}} {{index}}
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div>
        <h1>Punchbag Game</h1>
        <div id="bag" v-bind:class="{burst: ended}"></div>
        <div id="bag-health">
          <div v-bind:style="{ width: health + '%'}"></div>
        </div>
        <div id="bag-controls">
          <button v-on:click="punch" v-show="!ended">Punch</button>
          <button v-on:click="restart">Restart</button>
        </div>
      </div>
      <div>
        <h1>Refs</h1>
        <input type="text" ref="input" />
        <button v-on:click="getRefs">Get ref</button>
      </div>
    </div>
  <script src="app.js"></script>
</html>